@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.title {
  text-align: center;
  margin: 0 0 20px;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Fredoka One', sans-serif;
  padding: 20px;
}

input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: #aaaccb;
  color: #fefefe;
  outline: none;
  font-size: 1rem;
  display: flex;
  position: relative;
}

.wrapper {
  position: relative;
  width: 500px;
  height: 16vh;
  text-align: center;
  color: white;
}

body {
  background-color: #333a95;
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.searchButton {
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  background-color: #aaaccb;
  width: 40px;
  height: 36px;
  text-align: center;
  color: #fff;
}

.searchButton:hover {
  background-color: green;
}

.searchClass {
  width: 100%;
  position: relative;
  display: flex;
}

#input1 {
  text-align: center;
}

.inputClass {
  width: 100%;
  border: 2px solid #aaaccb;
  padding: 5px;
  height: 20px;
  border-radius: 25px 0 0 25px;
  outline: none;
  color: #9DBFAF;
